<!doctype html>
<html lang="en">
        {% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_tax.css' %}" />

    <title>Tax Counter</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
        <a class="navbar-brand" href="/">Ooangku.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/income/">My Records <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liability/">Liability</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/budgeting/">Budgeting</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row" style = "background-color: black;">
        <div class="col-md-5" style = "height: 100%;">
            <img src = "{% static 'images/tax.svg' %}" class = "foto_tax" align = "right">
        </div>
        <div class="col-md-7 judul-tax">
            <h1>Tax <br> Counter</h1>
            <p class = "kuning">Calculate </p><p class = "putih">Your Tax Now.</p>
        </div>
    </div>

    <div class="row masukan">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 submission">
            <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type = "submit" name = "submit" value = "Count!" class = "btn btn-warning">
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="row">
        <div class="col-md 3">

        </div>
        <div class="col-md-6">
            <h3>You Have To Pay</h3>
            <div class="pajak-bayar">
                {% csrf_token %}
                <p>IDR</p><h4>{{ pajak }}</h4>
            </div>
            
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>