@font-face{
    font-family: gilroy-bold;
    src: url(Gilroy-ExtraBold.ttf);
}

.row{
    margin: 0px;
}

.income {
    padding-left : 20px;
    margin-left: 20px;
    /* margin-top : 50px; */
    border : solid 2px black;
    border-radius: 25px;
    height: 500px;
}


.income td{
    padding-right : 50px;
}

.income h1{
    padding : 20px 20px;
    font-size : 40px;
}

.textincome{
    padding : 20px 20px;
    font-family: montserrat-bold;
    padding-bottom: 10px;
    font-size: 35px;
}

.vline{
    border: 4px solid black;
    margin-right: 25px;

}

.vline2{
    border: 4px solid #F2D375;
    margin-right: 25px;

}

.daftar button{
    margin-top : 20px;
    margin-left : 20px;
}

.income p{
    font-family: gilroy-bold;
    display : inline;
}

.balance h1{
    padding-top : 30px;
    font-family: gilroy-bold;
    font-size : 60px;
    text-align: center;
}

.balance p{
    padding-left :20px;
    font-family: gilroy-bold;
    display: inline;
    font-size : 40px;
    text-align: center;
    color: white;
}

.kuning-hitam{
    background-color: #F0BE60;
    border-radius: 25px;
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (min-width: 601px) {
    .foto_tax{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 75%;
        max-width : 75%;
        /* height : 75%;
        width : 75%; */
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .foto_tax{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 100%;
        max-width : 100%;
        /* height : 75%;
        width : 75%; */
    }
  }

.nav-item{
    padding-top: 5px;
    padding-left:20px;
    font-family: gilroy-bold;
}

.masukan{
    padding-top : 5%;
    padding-bottom: 5%;
}

.submission {
    padding-top : 20px;
    padding-bottom : 20px;
    border: solid 2px black;
    border-radius: 25px;
}

.judul-tax{
    padding-bottom: 10%;
}

.judul-tax h1{
    padding-top : 15%;
    color: white;
    font-size: 70px;
    font-family: gilroy-bold;
    font-weight: lighter;
}
.kuning{
    color: #F0BE60;
    font-family: gilroy-bold;
    font-weight: lighter;
}

.putih{
    color: white;
    font-family: gilroy-bold;
}

.judul-tax p{
    display: inline;
    font-size: 24px;
}

.navbar-brand{
    font-family: gilroy-bold;
}

label{
    font-family: gilroy-bold;
}