<!DOCTYPE html>
<html lang="en">
    {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <title>Document</title>

</head>
<body style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
            <a class="navbar-brand" href="/">Ooangku.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/income/">My Records <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liability/">Liability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/budgeting/">Budgeting</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row masukan">
            <div class="col-md-3">

            </div>
        <div class="col-md-6 submission" id="tabel" style="border : solid 2px white;border-radius: 25px;">
            <form method="POST" id="font">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type = "submit" name = "submit" value = "Add" class = "btn btn-warning">
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</body>
</html>