<!doctype html>
<html lang="en">
{% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_records.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <title>My Records</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
        <a class="navbar-brand" href="/">Ooangku.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav active">
                <li class="nav-item">
                    <a class="nav-link" href="/income/"> My Records <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liability/">Liability</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/budgeting/">Budgeting</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row" style="background-color: black;">
        <div class="col-md-5" style="height: 100%;">
            <img src="{% static 'img/records.svg' %}" class="foto_tax" align="right">
        </div>
        <div class="col-md-7 judul-tax">
            <h1>My Records</h1>
            <p class="kuning" style="font-family: montserrat-reg">Keep an eye </p>
            <p class="putih" style="font-family: montserrat-reg">on the bottom line.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 balance">
            <h1 style="font-family: montserrat-bold; font-size:45px;">Current Balance</h1>
            <div class="kuning-hitam">
                <p> IDR </p>
                <p>{{ balance }}</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 daftar">
            <h1 class="textincome">
                <span class="vline">
                </span>INCOME</h1>
            <div class="income">
                <table style = "display : block;max-height:480px;overflow: auto">
                    {% for a in income %}
                    <tr>
                        <td style="width: 50%">{{ a.description }}</td>
                        <td style="width: 10%">{{ a.income }}</td>
                        <td style="width: 10%">
                            <a href="delete/{{ a.id }}"><button class="btn btn-warning">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <a href = "incomess/"><button class="btn btn-warning">Add</button></a>
        </div>
        <div class="col-md-5 daftar">
            <h1 class="textincome">
                    <span class="vline2">
                    </span>EXPENSE</h1>
            <div class="income">
                <table style = "display : block;max-height:480px;overflow: auto">
                            {% for a in expense %}
                        <tr>
                            <td style="width: 50%">{{ a.description }}</td>
                            <td style="width: 10%">{{ a.expense }}</td>
                            <td style="width: 10%">
                                    <a href="delete1/{{ a.id }}"><button class="btn btn-warning">Delete</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            <a href = "expense/"><button class="btn btn-warning">Add</button></a>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>