<html>
        {% load crispy_forms_tags %}
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_liability.css' %}" />

    <title>Tax Counter</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
            <a class="navbar-brand" href="/">Ooangku.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/income/">My Records <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/liability/">Liability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/budgeting/">Budgeting</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row" style = "background-color: black;" id="fontbawah">
                <div class="col-md-5" style = "height: 100%;">
                    <img src = "{% static 'foto1.svg' %}" class = "foto_tax" align = "right">
                </div>
                <div class="col-md-7 judul-tax">
                    <h1>Liability <br>
                    <p class = "kuning">Take notes  </p><p class = "putih">of who you owe to.</p>
                </div>
            </div>
            <div class="row masukan">
                <div class="col-md-2">
                </div>

                <div class="row col-md-8 submission">
                    <table style = "display :block;overflow-x : auto">
                        <tr>
                            <th >Nama</th>
                            <th >Duedate</th>
                            <th>Value</th>
                        
                        </tr>
                        {% for obj in form %}
                        <tr>
                            <td>
                                {{ obj.nama }}
                            </td>
                            <td>
                                {{ obj.duedate }}
                            </td>
                            <td>
                                IDR {{ obj.value }}
                            </td>
                            <td>
                                <a href = "paid/{{ obj.id }}"><button class = "btn btn-warning text-white">Paid</button></a>
                            </td>
                            <td>
                                <a href = "modify/{{ obj.id }}"><button class = "btn btn-dark">Modify</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>           
                    </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-6" class="kotak">
                    <a href = "input/"><button class = "btn btn-dark text-white" id="buttonbawah">Add</button></a>
                </div>
            </div>
            <div>
                <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <p id="tulisantotal">Total:</p>
                    <br>
                    <div class="kotakkuning">
                        <p>IDR {{utang}}</p>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
                </div>

            </div>
             
        <!-- {% if user.is_authenticated %}
            <p>Hi, {{user.username}}</p>
            <a href = "/account/logout">Logout</a>
        {% else %}
            <p>Please Login</p>
            <a href = "/account/login">Login Here</a>
        {% endif %} -->
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </body>
</html>