<!doctype html>
<html lang="en">
        {% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <title>Tax Counter</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
        <a class="navbar-brand" href="/">Ooangku.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/income/">My Records <span class="sr-only">(current)</span></a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="/liability/">Liability</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/budgeting/">Budgeting</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row" style = "background-color: black;">
        <div class="col-md-2"></div>
        <div class="col-md-10 judul">
            <h1>Need to </h1> <h1 id = "kuning-hitam">Manage</h1> <br> <h1>Your Money?</h1>
            <p>Simple Financial Budgeting<br>and Planning</p>
        </div>
    </div>

    <div class="row features" style = "padding-top: 70px; padding-bottom: 70px;">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <h3>Features</h3>
            <table>
                <tr>
                    <td>
                        <img src = "{% static 'images/bars 1.svg' %}" style = "padding : 0px">
                    </td>
                    <td class = "explain">
                        <h4>My Records</h4>
                        <p>Simply keep tracks of your incomes and expenses.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src = "{% static 'images/note 1.svg' %}">
                    </td>
                    <td>
                        <h4>Liability</h4>
                        <p>Take notes of who you owe to.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src = "{% static 'images/calculator 1.svg' %}">
                    </td>
                    <td>
                        <h4>Tax Counter</h4>
                        <p>Calculates your tax now.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src = "{% static 'images/pie-chart.svg' %}">
                    </td>
                    <td>
                        <h4>Budgeting</h4>
                        <p>Plan your expenses in the future.</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <img src = "{% static 'images/balok.svg' %}">
        </div>
    </div>

    <div class="row" style = "background-color: #2E2E2E; min-height: 200px;" >
        <div class="col-md-2"></div>
        <div class="col-md-9 tulisan-footer" style = "padding-top : 25px;">
            <h1>Money Brings </h1>
            <img src = "{% static 'images/Group 12.png' %}">
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>