@font-face {
    font-family: gilroy-light;
    src: url(Gilroy-Light.otf);
}

@font-face{
    font-family: gilroy-bold;
    src: url(Gilroy-ExtraBold.ttf);
}

@font-face{
    font-family: montserrat-reg;
    src: url(Montserrat-Regular.ttf);
}

@font-face{
    font-family: montserrat-bold;
    src: url(Montserrat-Bold.ttf);
}

.row{
    align-items: center;
    margin: 0px;
}

@media screen and (min-width: 601px) {
    .img-budgeting{
        /* padding-left : 20%; */
        padding-top : 10%;
        padding-bottom: 10%;
        max-height : 100%;
        max-width : 100%;
        /* height : 75%;
        width : 75%; */
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .img-budgeting{
        /* padding-left : 20%; */
        padding-top : 15%;
        padding-bottom: 10%;
        max-height : 100%;
        max-width : 100%;
        /* height : 75%;
        width : 75%; */
    }
}

.navbar-brand{
    font-family: montserrat-bold;
}

.nav-item{
    padding-top: 5px;
    padding-left:20px;
    font-family: montserrat-reg;
}

.judul{
    padding-left: 100px;
    padding-bottom: 20px;
}

.judul h1{
    padding-left: 30px;
    padding-top : 0%;
    color: white;
    font-size: 72px;
    font-family: gilroy-bold;
}

.judul p{
    text-align: left;
    padding-left: 30px;
    font-size: 30px;
    font-family: gilroy-light;
}

.kuning{
    color: #F0BE60;
    font-family: gilroy-light;
}

.putih{
    color: white;
    font-family: gilroy-light;
}

label{
    font-family: gilroy-bold;
}

.budget-this-month-1{
    margin-top: 4%;
    text-align: center;
    color: black;
    font-family: gilroy-bold;
}

.budget-this-month-2{
    margin-top: 1%;
    text-align: center;
    color: black;
    font-family: gilroy-bold;
}

.month {
    margin-bottom: 10px;
    font-family: gilroy-bold;
}

.vline-month {
    border: 5px solid grey;
    margin-right: 10px;
}

.border {
    padding: 10px 30px;
}

.text-th {
    font-size: 24px;
    font-family: gilroy-bold;
}

.text-tb {
    font-size: 20px;
    font-family: gilroy-light !important;
}

.container {
    padding-bottom: 20px;
}

.font-light {
    font-size: 20px;
    font-family: gilroy-light !important;
}

.bt-add {
    padding-top: 15px;
    text-align: center;
}

.modal-body-text {
    font-size: 20px;
    font-family: gilroy-light !important;
}

.form-control {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: gilroy-light !important;
}