<!doctype html>
<html lang="en">
    {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <title>Budgeting</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
        <a class="navbar-brand" href="/">Ooangku.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/income/">My Records <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liability/">Liability</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taxCounter/">Tax Counter</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/budgeting/">Budgeting</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row judul" style = "background-color: black;">
        <div class="col-md-5">
            <img src = "{% static 'images/budgeting.png' %}" class = "img-budgeting" align = "right">
        </div>
        <div class="col-md-7">
            <h1>Budgeting</h1>
            <p class="putih"><span class = "kuning">Plan </span>Your Budget. Live Your Life Regularly.</p>
        </div>
    </div>

    <h1 class="budget-this-month-1">
        Your Total Budget:
    </h1>
    <h1 class="budget-this-month-2">
        <span class="budget-this-month bg-warning text-white btn-sm" style="font-size: 36px;">
            IDR {{total_budgets}}
        </span>
    </h1>
    <br>

    {% for month in months %}
        {% if month == 1 and january|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    JANUARY
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in january %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% elif month == 2 and february|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    FEBRUARY
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in february %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% elif month == 3 and march|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    MARCH
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in march %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% elif month == 4 and april|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    APRIL
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in april %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 5 and may|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    MAY
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in may %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 6 and june|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    JUNE
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in june %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 7 and july|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    JULY
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in july %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 8 and august|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    AUGUST
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in august %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% elif month == 9 and september|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    SEPTEMBER
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in september %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 10 and october|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    OCTOBER
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in october %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 11 and november|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    NOVEMBER
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in november %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% elif month == 12 and december|length > 0 %}
        <div class="container">
            <br>
            <div class="row month">
                <h2>
                    <span class="vline-month"></span>
                    DECEMBER
                </h2>
            </div>
            <div class="row border border-dark rounded">
                <table class="table">
                    <thead class="text-th">
                        <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 30%;">Description</th>
                        <th scope="col" style="width: 45%;">Value</th>
                        <th scope="col" style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for val in december %}
                        <tr>
                        <th class="text-tb" scope="row">{{forloop.counter}}</th>
                        <td class="text-tb">{{val.description}}</td>
                        <td class="text-tb">IDR {{val.value}}</td>
                        <td><a href="{% url 'budgeting:delete' val.id %}" class="btn btn-sm btn-outline btn-warning text-white text-tb" style="font-size: 16px">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% endif %}
    {% endfor %}

    <hr>
    <div class="container bt-add">
        <button type="button" class="btn btn-sm btn-outline btn-warning text-white font-light" data-toggle="modal" data-target="#add-budget">Add Budget</button>
    </div>

    <div class="modal fade" id="add-budget">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add your budget here!</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span style="font-size:45px;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                        
                    <form action="save" method="POST">
                    {% csrf_token %}
                    <table style="font-size: 20px;">
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-sm btn-outline btn-warning text-white font-light" style="margin-top:15px;margin-bottom:5px;margin-left:289px;">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>